{% with title='Product' %}
	{% include 'shop/header.html' %}
{% endwith %}

<br><br><br>

  	<div class="row">
  		<div class="col-md-10 col-md-offset-1">
  			<div class="row">
  				<br>
  				<div class="col-md-4" style="border-style: groove">
  					<br>
  					<img class="center-block img-responsive" src="http://via.placeholder.com/300x300">
  					<br>
  				</div>
  				<div class="col-md-7 col-md-offset-1">
  					<h2>EXIDE Ins</h2>
  					<hr>
  					<button class="btn-success">4 <span class="glyphicon glyphicon-star"></span></button>
  					<h3>Rs. 2,000/</h3>
  					<button type="button" class="btn btn-warning">Buy Now</button><br><br>
  					<div>
	  					<ul class="nav nav-tabs">
							<li class="active"><a href="#">Features</a></li>
						</ul>
						<br>
						<div>
							Exide Insta Brite promises superior power backup at a fantastic price. With Exide Instabrite, you can be sure that there will be no shortage of power in your home. Get instant brightness with the best. Get Exide Instabrite.
							<ul>
								<li>Unique features and superior technology</li>
								<li>Easy maintenance: Float/float guide to indicate electrolyte level</li>
								<li>Easy handling/spill-proof</li>
								<li>Easy Installation</li>
							</ul>
						</div>
					</div>
  				</div>
  			</div>
  		</div>
  	</div>





</body>
</html>
